html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #b0d2d7;
}

*,*::before, *::after{
box-sizing: inherit;
margin:0;
}

header{
  text-align: center;
}

body{
  margin:0;
}

main{
  background-color: #b0d2d7;
  padding-bottom: 3em;
  padding-top: 3em;
}

.work{
  width: 100%;
  padding-left: 15%;
}

.me{
  width: 20%;
  display: block;
  margin: auto;
  padding-top: 3em;
}

.about{
  width: 50%;
  display: block;
  text-align: center;
  margin: auto;
  padding-top: 1em;
}

h2{
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

h3{
  font-size: 8em;
  font-family: 'Bungee Inline', cursive;
  color: white;
  padding: 0;
  text-align: center;
  letter-spacing: 3px;
}

.description{
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  font-size: 1em;
  color: white;
  margin-left: 25%;
  width: 55%;
  text-align: left;
}

p{
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  font-size: 1em;
  color: white;
  margin-left: 10%;
  margin-bottom: 10%;
  width: 95%;
  text-align: center;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: block;
}

li{
  list-style-type: none;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
}

a{
  color: white;
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover{
  color: white;
}

.bio{
  display: block;
  margin: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding-bottom: 2em;
}

footer{
  padding: 1em 2em;
  background-color: #b0d2d7;
  text-align: center;
}

.social{
  width: 25%;
}

/* Small */
@media only screen and (min-width: 25em) {

html{
font-size: 60%;
line-height: 1.4;
}

h3{
  font-size: 1em;
  font-family: 'Bungee Inline', cursive;
  color: white;
  padding: 0;
  text-align: center;
  letter-spacing: 1px;
}

.top{
  font-size: 3em;
}

main{
  width: 100%;
  padding: 0;
}

.social{
  width: 10%;
  margin: auto;
}
}

/* Med */
@media only screen and (min-width: 38em) {

html{
  font-size: 110%;
  line-height: 1.4;
}

main{
  width: 100%;
}

h3{
  font-size: 2em;
  font-family: 'Bungee Inline', cursive;
  color: white;
  padding: 0;
  text-align: center;
  letter-spacing: 2px;
}

h2{
  padding-bottom: 1em;
}

.social{
  width:15%;
}
}

/* Lrg */
@media only screen and (min-width: 60em) {

html{
  font-size: 140%;
  line-height: 1.5;
}

header{
  margin: 0;
  overflow: hidden;
}

h1{
  font-size: 64px;
  padding-bottom: 2em;
  width: 100%;
  text-align: center;
  max-height: inherit;
}

h3{
  font-size: 4em;
  font-family: 'Bungee Inline', cursive;
  color: white;
  padding: 0;
  text-align: center;
  letter-spacing: 3px;
}

.social{
  width: 4%;
}

.work{
  padding-bottom: 3em;
  padding-left: 3em;
}
}
