@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #b0d2d7;
}

*,*::before, *::after{
box-sizing: inherit;
margin:0;
}

header{
  text-align: center;
  list-style: none;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: block;
}

li{
  list-style-type: none;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
}

body{
  margin:0;
}

main{
  background-color: #b0d2d7;
  padding-bottom: 3em;
  padding-top: 3em;
}

h2{
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0;
}

h3{
  font-size: 8em;
  font-family: 'Lilita One', cursive;
  color: white;
  padding: 0;
  text-align: center;
  letter-spacing: 3px;
}

h4{
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  color: #4b96a0;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0;
}

a{
  color: white;
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-align: center;
  position: relative;
  padding: 1em 0 0 1em;
  width: 100%;
}

.image{
  width: 20%;
  display: block;
  margin: auto;
  padding-top: 3em;
}

a:hover{
  color: white;
}

footer{
  padding: 1em 2em;
  background-color: #b0d2d7;
  text-align: center;
}

.social{
  width: 25%;
}

/* Small */
@media only screen and (min-width: 25em) {

html{
font-size: 60%;
line-height: 1.4;
}

h3{
  font-size: 3em;
  text-align: center;
}

p{
  width: 80%;
  margin: 1em auto;
  text-align: center;
}

main{
  width: 100%;
  padding: 0;
}

.social{
  width:10%;
}
}

/* Med */
@media only screen and (min-width: 38em) {

html{
  font-size: 110%;
  line-height: 1.4;
}

main{
  width: 100%;
}

h3{
  font-size: 4em;
  padding-left: 0;
  text-align: center;
  width: 100%;
  margin-left: 0;
  max-height: inherit;
}

h2{
  padding-bottom: 1em;
}

p{
  font-size: 24px;
  width: 100%;
  text-align: center;
  padding: 1em 0 0 1em;
}

.social{
  width:10%;
}

/* Lrg */
@media only screen and (min-width: 60em) {

html{
  font-size: 140%;
  line-height: 1.5;
}

header{
  margin: 0;
  overflow: hidden;
}

h1{
  font-size: 64px;
  padding-bottom: 2em;
  width: 100%;
  text-align: center;
  max-height: inherit;
}

p{
  text-align: center;
  bottom: 2em;
  padding: 1em 0 0 1em;
}

.social{
  width: 4%;
}
}
