@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #b0d2d7;
}

*,*::before, *::after{
box-sizing: inherit;
}

header{
  text-align: center;
}

body{
  margin:0;
  max-width: 100%;
  overflow-x: hidden;
}

.right{
  position: absolute;
  top: 265px;
  left: 700px;
  right: 60px;
}

.left{
  width: 60%;
  padding-left: 50px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: block;
}

li{
  list-style-type: none;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
}

h2{
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding-top: 1em;
}

h3{
  font-size: 8em;
  font-family: 'Lilita One', cursive;
  color: white;
  padding: 0;
  text-align: center;
  letter-spacing: 3px;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
  padding-left: 50px;
  line-height: 1.5em;
}

a{
  color: white;
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover{
  color: #f0504d;
}

.link{
  color: white;
  font-weight: 300;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 1em;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: .5em;
}


footer{
  padding: 1em 2em;
  background-color: #b0d2d7;
  text-align: center;
  padding-top: 69px;
}

.social{
  width: 25%;
}

/* Small */
@media only screen and (min-width: 25em) {

html{
font-size: 60%;
line-height: 1.4;
}

h3{
  font-size: 3em;
  text-align: center;
}

main{
  width: 100%;
  padding: 0;
}

.right{
  bottom: 9px;
  width: 60%;
  padding-right: 30px;
}

.social{
  width:10%;
}
}

/* Med */
@media only screen and (min-width: 38em) {

html{
  font-size: 110%;
  line-height: 1.4;
}

main{
  width: 100%;
}

h3{
  font-size: 4em;
  padding-left: 0;
  text-align: center;
  width: 100%;
  margin-left: 0;
  max-height: inherit;
}

h2{
  padding-bottom: 1em;
}

.right{
  position: absolute;
  top: 225px;
  left: 320px;
}

.social{
  width:10%;
}

.work{
  padding-bottom: 3em;
  padding-left: 3em;
}
}

/* Lrg */
@media only screen and (min-width: 60em) {

html{
  font-size: 140%;
  line-height: 1.5;
}

header{
  margin: 0;
  overflow: hidden;
}

h1{
  font-size: 64px;
  padding-bottom: 2em;
  width: 100%;
  text-align: center;
  max-height: inherit;
}

.right{
  position: absolute;
  top: 265px;
  padding-right: 0px;
  padding-left: 300px;
}

.social{
  width: 4%;
}
}
