@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #b0d2d7;
}

*,*::before, *::after{
box-sizing: inherit;
margin:0;
}

header{
  text-align: center;
}

body{
  margin:0;
}

main{
  background-color: #b0d2d7;
  padding-bottom: 3em;
  padding-top: 3em;
}

.work{
  width: 100%;
  padding-left: 10%;
}

.me{
  width: 20%;
  display: block;
  margin: auto;
  padding-top: 3em;
}

.robot{
  width: 80%;
  padding-top: 3em;
  padding-left: 5em;
}

.about{
  width: 50%;
  display: block;
  text-align: center;
  margin: auto;
  padding-top: 1em;
}

.description{
  font-family: 'Quicksand', sans-serif;
  line-height: 2em;
  font-size: 1em;
  color: #0a2739;
  margin: 10px 10px 20px 0;
}


h2{
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

h3{
  font-size: 8em;
  font-family:'Bungee Inline', cursive;
  color: white;
  padding: 0;
  text-align: center;
  letter-spacing: 3px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: block;
}

li{
  list-style-type: none;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
}

a{
  color: white;
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover{
  color: white;
}

.about{
  display: block;
  margin: 0;
  width: 100%;
  text-align: center;
}

footer{
  padding: 1em 2em;
  background-color: #b0d2d7;
  text-align: center;
}

.social{
  width: 25%;
}

/* Page Layout */

#gallery {
  width:600%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 100px auto;
  border: 2px solid #003C72;
}

#navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  width: 500px;
  height: 375px;
  overflow: hidden;
}

#navigation li{
  padding: 0;
  margin: 0;
  float: left;
  clear: both;
}

#navigation li a img{
  display: block;
  border: none;
}

#navigation li a{
  display: block;
}

#full-picture{
  width: 500px;
  height: 375px;
  overflow: hidden;
  float: left;
}


/* Small */
@media only screen and (min-width: 25em) {

html{
font-size: 60%;
line-height: 1.4;
}

h3{
  font-size: 3em;
  text-align: center;
}

main{
  width: 100%;
  padding: 0;
}

.social{
  width:10%;
}
}

/* Med */
@media only screen and (min-width: 38em) {

html{
  font-size: 110%;
  line-height: 1.4;
}

main{
  width: 100%;
}

h3{
  font-size: 4em;
  padding-left: 0;
  text-align: center;
  width: 100%;
  margin-left: 0;
  max-height: inherit;
}

h2{
  padding-bottom: 1em;
}

.social{
  width:10%;
}

.work{
  padding-bottom: 3em;
  padding-left: 3em;
}
}

/* Lrg */
@media only screen and (min-width: 60em) {

html{
  font-size: 140%;
  line-height: 1.5;
}

header{
  margin: 0;
  overflow: hidden;
}

.social{
  width: 4%;
}
}
