<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}">
  <html prefix="og: http://ogp.me/ns#">
  <meta property="og:title" content="Shannon Hawn Portfolio Site" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://shannonhawn.github.io/shannon-hawn-sauve" />
  <meta property="og:image" content="https://shannonhawn.github.io/shannon-hawn-sauve/img/shannon.svg" />
  <meta property="og:description" content="My portfolio website. Shannon Hawn"/>

  <meta property="twitter:summary" content="Shannon Hawn Portfolio" />

  <link href=""css/site.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
</head>
<body>

{{content}}

</body>
</html>
